<div class='navbar navbar-static-top'>
  <div class='navbar-inner'>
    <div class='container'>
      <h1 class='brand'>
        <%= link_to "HCC" %>
      </h1>
      
      <ul class='nav'>
        <li><%= link_to "Future Students", '#' %></li>
        <li><%= link_to "Current Students" %></li>
        <li><%= link_to "Future Students" %></li>
        <li><%= link_to "Future Students" %></li>
      </ul>
      
      <div class='pull-right'>
        <form class="navbar-search">
          <input type="text" class="search-query" placeholder="Search">
        </form>
      </div>
    </div>
  </div> <!-- navbar-inner -->
  
  <div class='container'>
    <div class='navbar-inner navbar-inner-alt'>
      <ul class='nav row'>
        <li class='span2'><%= link_to 'Central' %></li>
        <li class='span2 active'><%= link_to 'Coleman' %></li>
        <li class='span2'><%= link_to 'Northeast' %></li>
        <li class='span2'><%= link_to 'Northwest' %></li>
        <li class='span2'><%= link_to 'Southeast' %></li>
        <li class='span2'><%= link_to 'Southwest' %></li>
      </ul>
    </div>
  </div>
</div>