<div class='row'>
  <div class='span3'>
    <div class='inner well'>
      <h2>About Us</h2>
      <ul>
        <li><%= link_to 'About Coleman' %></li>
        <li><%= link_to 'Texas Medical Center' %></li>
        <li><%= link_to 'Administration' %></li>
        <li><%= link_to 'Online Newsroom' %></li>
      </ul>
    </div>
  </div>
  
  <div class='span3'>
    <div class='inner well'>
      <h2>Programs</h2>
      <ul>
        <li><%= link_to 'All Programs' %></li>
        <li><%= link_to 'Admission Information' %></li>
        <li><%= link_to 'Our Faculty' %></li>
        <li><%= link_to 'Continuing Education' %></li>
      </ul>
    </div>
  </div>
  
  <div class='span3'>
    <div class='inner well'>
      <h2>Resources</h2>
      <ul>
        <li><%= link_to 'Financial Aid' %></li>
        <li><%= link_to 'Student Services' %></li>
        <li><%= link_to 'Student Life' %></li>
        <li><%= link_to 'Computer Resources' %></li>
      </ul>
    </div>
  </div>
  
  <div class='span3'>
    <div class='inner well'>
      <h2>Connect</h2>
      <ul>
        <li><%= link_to 'Email' %></li>
        <li><%= link_to 'Student Login' %></li>
        <li><%= link_to 'Online Courses' %></li>
        <li><%= link_to 'Register' %></li>
      </ul>
    </div>
  </div>
</div>